
/* ==================================================
   Imports
================================================== */

@import 'variables';
@import 'mixins';
@import 'extends';
@import 'basics';
@import 'typography';
@import 'shortcodes';

/* ==================================================
   Header
================================================== */

.navbar-default {
    background: #26292E;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.25));
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.current>a, 
.navbar-default .navbar-nav>li>a:hover {
	color: $primary-color;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
	color: white;
}

.navbar-default a.navbar-brand {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 500;
}

.navbar-default a.navbar-brand:hover
{
	color: $primary-color;
}


.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li {
	padding-left: 15px;
	padding-right: 15px;
}

/* ==================================================
   Section Page
================================================== */

.page {
	background: #2F3238;
	padding: 100px 0;
	position: relative;
	z-index: 99;
}

.page-alternate {
	background: #26292E;
	padding: 100px 0;
	position: relative;
	z-index: 99;
}

.title-page {
	text-align: center;
	margin-bottom: 100px;	
}

.title-page .title {
	font-size: 48px;
	margin: 0 0 10px 0
}

.title-page .title-description {
	font-size: 24px;
	font-weight: 200;
	margin: 0;
}

/* ==================================================
   Section Portfolio
================================================== */

.type-work {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 1em;
	text-transform: uppercase;
}

.work-nav #filters {
	margin: 0;
	padding: 0;
	list-style: none;
}

.work-nav #filters li {
	margin: 0 0 30px 0;
	padding: 0;
}

.work-nav #filters li a {
	color: $text-color;
	font-size: 16px;
	display: block;	

	&:hover {
		color: #FFFFFF;
	}
}

.work-nav #filters li a.selected {
	color: $primary-color;
}

.item-thumbs {
	overflow: hidden;
	margin-bottom: 30px;
	cursor: pointer;
}

.item-thumbs a + img {
	width: 100%;	
}

.item-thumbs .hover-wrap {
	position: absolute;
	display: block;
	height: 100%;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);	
}

.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.item-thumbs .hover-wrap .overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $primary-color;
	
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.item-thumbs .hover-wrap .overlay-img-thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -13px 0 0 -13px;
	color: #FFFFFF;
	font-size: 32px;
}


/* ==================================================
   About Section
================================================== */

.profile-name {
	margin-bottom: 15px;	
}

.profile-description {
	margin-bottom: 25px;	
}

.image-wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}

.image-wrap img {
	width: 100%;
	// width: 70%;	
}

.image-wrap  .hover-wrap {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);	
}

.image-wrap:hover .hover-wrap,
.image-wrap.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.image-wrap .hover-wrap .overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $primary-color;
	
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.image-wrap .hover-wrap .overlay-text-thumb {
	position: absolute;
	width: 100%;
	height: 32px;
	top: 50%;
	margin: -16px 0 0 0;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	
	opacity: 1;
	filter: alpha(opacity=100);
}

/* ==================================================
   Footer
================================================== */

footer {
	position: relative;
	width: 100%;
	height: auto;
	background: #26292E;
	text-align: center;
	z-index: 99;
}

footer .credits {
	color: #FFFFFF;
	font-size: 13px;
	margin-bottom: 0;
	padding: 20px 0;
	text-transform: uppercase;	
}

/* ==================================================
   Back to Top
================================================== */

#back-to-top {
	display: none;
	background-color: #3C3F45;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 99;
	
    transition: background 0.1s linear 0s;
}

#back-to-top:hover {
	background-color:$primary-color;
}

#back-to-top i {
	font-size: 28px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -14px;
	margin-left: -6px;
	line-height: 1em;
}



/* ==================================================
   Preloader
================================================== */

#jpreOverlay,
#jSplash {
	background-color: #2F3238;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 700;
}

#jpreSlide{
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
}

#jpreLoader {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;	
}

#jprePercentage {
	width: 50px;
	height: 50px !important;
	line-height: 50px;
	position: absolute !important;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 800;
	
	font-size: 24px;
	color: #FFFFFF;	

	animation: circle 1s infinite forwards;
}

#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	background: $primary-color;
	border-radius: 999px;
	opacity: 0;
	filter: alpha(opacity=0);
			
	animation: circle 1s infinite forwards;
}

@keyframes circle {
	0% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
	50% {transform: rotateY(180deg);
		animation-timing-function: ease-out;
	}
	100% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
}


/* ==================================================
   Isotope Filtering
================================================== */

/**** Isotope Filtering ****/
 
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
          transition-duration: $isotopeDuration;
}

.isotope {
          transition-property: height, width;
}

.isotope .isotope-item {
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
          transition: none;
}




/* ==================================================
   Icons
================================================== */

.contact-icons > div {
	margin-bottom: 20px;
}

.contact-icons div a {
	text-align: center;
	display: inline-block;
	width: 70px;
	height: 70px;
	
	background: #26292E;
	
    transition: all 400ms ease-out 0s;
		  
	transform: rotateY(0deg);	
}


.contact-icons div a i {
	display: inline-block;
	margin: 0;
	color: #55606a;
	font-size: 42px;
	line-height: 70px;

	
	opacity: 0.3;
	filter: alpha(opacity=30);
	
    transition: all 400ms ease-out 0s;
		  
	transform: rotateY(0deg);
}

.contact-icons div:hover a,
.contact-icons div.active a {
	background-color: $primary-color;	
	
    transform: rotateY(180deg);
}

.contact-icons div:hover a i,
.contact-icons div.active a i {
	color: #FFFFFF;
	opacity: 1;
	filter: alpha(opacity=100);
	
	transform: rotateY(180deg);
}


/* ==================================================
   additions
================================================== */

// navbar styling 
.navbar-toggle {
	border: 0;
}

.navbar-default .navbar-toggle.collapsed .icon-bar{
	background-color: white;
}

.navbar-default .navbar-toggle.collapsed:hover .icon-bar {
	background-color: $primary-color;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

// makes isotope height change not jump immediately
#projects {
	transition: height $isotopeDuration;
}

// override fancybox skin color 
.fancybox-skin {
	color: $text-color;
}
